/* @font-family: 'Open Sans', sans-serif; */

:root{
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-light-purple: #b7b7dd;
    --color-dark-purple: #9a9abd;
    --color-purple: #7e7ec2;
    --color-black: #000000;
    --color-dark-grey: #4d4d4d;
    --color-pink: #d8a7e2;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */
    --size-border-radius:4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white)
}

ul {
    padding-left: 0;
}

li {
    list-style:none;
}

button {
    background-color: transparent ;
    cursor: pointer;
    border:none;
    outline:none;
}

/* typography */

h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-purple);
    margin: 16px 0px
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-purple);
    align-items: center;
    color: var(--color-white);
    padding: 4px 30px;
}

.logo{
    width: 50px;
}

.navbar_menu{
    display: flex;
}

.navbar_menu_item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius)
}

.navbar_logo{
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);

}

.navbar_menu_item:hover {
    background-color: var(--color-dark-purple);
}

/* Home */
#home {
    background: url('/imgs/home-background.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;

}

.home_avatar{
    border-radius: 50%;
    border: 2px solid var(--color-light-white)
}

.home_title,
.home_description{
    color: var(--color-white)
}

.home_contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius)

}

/* section common */
.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/* About */

.about_majors{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.major_icon {
    width: 170px;
    height:170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major_icon i {
    transition: all var(--animation-duration) ease;
}
.major_icon:hover i{
    color: var(--color-purple);
    transform: rotate(-30deg) scale(1.1)
}
.major_title,
.major_description {
    color: var(--color-dark-grey);
}

.major_description {
    font-size: var(--font-small);
}


